@model FireDN.Data.NguoiDung

<h2>Chỉnh sửa thông tin người dùng</h2>
<form asp-controller="Home" asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" name="Iduser" value="@Model.Iduser">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">Profile</h4>
            <div class="form-group">
                @if (Model.HinhAnh != null)
                {
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.HinhAnh)" alt="Hình ảnh người dùng" class="img-sm rounded-circle border" style="max-width: 100px;">
                }
            </div>
            <div class="form-group">
                <label for="HinhAnh">Chọn hình ảnh:</label>
                <input type="file" id="HinhAnh" name="HinhAnh" class="form-control-file">
            </div>
            <div class="form-row">
                <div class="col form-group">
                    <label for="Username">Tên người dùng</label>
                    <input type="text" id="Username" name="Username" class="form-control" value="@Model.Username">
                </div>
                <div class="col form-group">
                    <label for="Email">Email</label>
                    <input type="email" id="Email" name="Email" class="form-control" value="@Model.Gmail">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="NewPassword">Mật khẩu</label>
                    <input type="password" id="NewPassword" name="NewPassword" class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label for="RoleUser">Vai Trò</label>
                    <select id="RoleUser" name="RoleUser" class="form-control">
                        <option> Choose...</option>
                        <option>Admin</option>
                        <option>Monitor</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Lưu chỉnh sửa</button>
        </div>
    </div>
</form>

